/* First Perform Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.8rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    animation: moveInRight 3s ease-out;
    /*	animation-name: moveInLeft;
		animation-duration: 3s;
		animation-timing-function: ease-out;*/ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #d35c04, #994304);
  display: inline-block;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: scale(1.5);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-top {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-samll {
  margin-top: 2rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.6); }

.btn:active, .btn:focus {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  outline: none; }

.btn--green {
  background-color: #438e0e;
  color: #fff; }

.btn--white {
  background-color: #fff;
  color: #000; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  /*animation: moveInButton 0.5s ease-out 0.8s;*/
  animation-name: moveInButton;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  /* this property will make button invisible during loading*/ }

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1.2px solid #000;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #d35c04;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 1.2px solid #d35c04;
  transform: translateY(-3px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.3); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #e2dc61, #ada734); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7eed7b, #157713); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #90cef9, #44acf4); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    cursor: pointer; }
  .card:hover .card__side--back {
    transform: rotateY(0);
    cursor: pointer; }
  .card__picture {
    height: 25rem;
    background-size: cover;
    background-position: center; }
    .card__picture-1 {
      background-image: url(../images/favourite-resturant.jpeg); }
    .card__picture-2 {
      background-image: url(../images/find-camp-ground.jpeg); }
    .card__picture-3 {
      background-image: url(../images/customer-feedback-survey.png); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #000; }
  .card__details {
    padding: 0 2rem; }
    .card__details-app-description {
      width: 90%;
      text-align: left;
      font-size: 1.6rem;
      padding: 1rem; }
    .card__details-tech {
      display: inline-block; }
      .card__details-tech img {
        height: 5rem; }
  .card__project-detail-view {
    padding: 2rem;
    text-align: center; }
    .card__project-detail-view--heading {
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      color: #000;
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid #000; }
    .card__project-detail-view--heading-sub {
      font-size: 2rem;
      font-weight: 400;
      text-align: left;
      color: #000;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .card__project-detail-view ul {
      position: relative;
      list-style: none;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: left;
      left: 7rem;
      margin-bottom: 3rem; }
    .card__project-detail-view__button-git {
      margin-top: 3rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.7);
  border: none;
  border-bottom: 3px solid trasparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #14c10b; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e80202; }
  .form__input::-webkit-input-placeholder {
    color: #0c0c0c; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.8rem;
  display: block;
  transition: all 0.5s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.footer {
  background-image: linear-gradient(to bottom right, #d9dce0, #5a5d60);
  padding: 5rem 0;
  font-size: 1.5rem;
  font-weight: 700; }
  .footer__list {
    list-style: none;
    text-align: center; }
  .footer__item {
    display: inline-block;
    margin-right: 5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #994304;
    padding: 1rem 2rem;
    transition: all 0.5s;
    border-radius: 3rem; }
  .footer__link:hover, .footer__link:active {
    color: #0c8710;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(211, 92, 4, 0.85), rgba(153, 67, 4, 0.85)), url(../images/portfolio-header.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  .header__links {
    position: fixed;
    top: 6rem;
    left: 10rem;
    z-index: 2000; }
    .header__links img {
      cursor: pointer;
      height: 5rem;
      margin: 0.5rem; }
  .header__profile-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__profile-photo {
    height: 30rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s; }
  .navigation__button:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#9dc411, #638727);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: left; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all, 1s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #000;
  font-weight: 700;
  transform: translateX(1.5rem);
  text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(30); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.4rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.4rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #ef0000; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #ef0000; }

.section-projects {
  background-color: #e5e6e8;
  padding: 25rem 0 25rem 0;
  margin-top: -15vh; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #ef910e, #8e5607); }

.contact {
  background-image: linear-gradient(110deg, rgba(227, 231, 232, 0.9) 0%, rgba(227, 231, 232, 0.9) 50%, transparent 50%), url(../images/contact-form-background-hand.jpeg);
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3); }
  .contact__form {
    width: 50%;
    padding: 3rem 6rem;
    height: 80rem; }
  .contact__social-links a {
    margin: 1rem 2rem; }
