/* First Perform Basic Reset */
$color-header-light: #d35c04;
$color-header-dark: #994304;
$color-white: #fff;
$color-black: #000;

// Grid Variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
