.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-header-light, 0.85),
			rgba($color-header-dark, 0.85)
		),
		url(../images/portfolio-header.jpg);
	background-size: cover;
	background-position: top;
	// -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
	// clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
	padding: 40rem 0;
	position: relative;

	&__links {
		position: fixed;
		top: 6rem;
		left: 10rem;

		@include respond(phone) {
			top: 4rem;
			left: 3rem;
		}

		z-index: 2000;
		display: block;

		& a i {
			font-size: 5rem;
			color: $color-black;
			margin-bottom: 2rem;
		}
	}

	&__profile-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__profile-photo {
		height: 30rem;
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
	}
}
