.footer {
	background-image: linear-gradient(to bottom right, #d9dce0, #5a5d60);
	padding: 5rem 0;
	font-size: 1.5rem;
	font-weight: 700;

	&__navigation {
	}

	&__list {
		list-style: none;
		text-align: center;
	}

	&__item {
		display: inline-block;
		margin-right: 5rem;
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			color: $color-header-dark;
			padding: 1rem 2rem;
			transition: all 0.5s;
			border-radius: 3rem;
		}
		&:hover,
		&:active {
			color: #0c8710;
			box-shadow: 0 2rem 2rem rgba($color-black, 0.5);
			background-color: $color-white;
			border-radius: 3rem;
		}
	}
}
